.attachment-info-list {
  list-style-type: none;
  margin: 0;
  padding: 2px 0;
  flex: 1 1 100%;
}
.attachment-info-list li {
  display: flex;
}
.attachment-info .panel-list-value {
  border-bottom: 1px solid #ccc;
}
.attachment-detail {
  display: flex;
  flex-direction: row;
}
.attachment-detail-header {
  flex: 1 1 30%;
  font-weight: bold;
  padding-right: 5px;
}
.attachment-detail-options {
  flex: 1 1 60%;
}
.attachment-detail-nvp {
  display: flex;
  flex: 1 1 60%;
  border-bottom: 1px solid #ccc;
}
.attachment-detail-options .panel-list-key,
.attachment-detail-nvp .panel-list-key {
  flex: 1 1 60%;
  font-weight: normal;
}
.attachment-detail-options .panel-list-value,
.attachment-detail-nvp .panel-list-value {
  color: #999;
}

.close-btn {
  float: right;
}
