#authorizedLayout {
  display: flex;
  flex: 1 1 100%;
  background: white !important;
}
.sidebar {
  flex: 0 1 60px;
  border-right: 1px solid #ccc;
}
.mainContent {
  flex: 1 1 auto;
  border-right: 1px solid #ccc;
}
