.panel-body {
  background-color: #eee;
  padding: 20px;
}

.status-new {
  color: green;
}

.status-late {
  color: darkred;
}

.btn-actions {
  width: auto;
}

.job-header {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  width: 100%;
  margin-bottom: 25px;
}

.file-icon-header-icon {
  padding: 0;
  font-size: 16px;
}

.checkbox-cell {
  text-align: 'center';
  padding: 0;
  font-size: 0.8rem;
}

// .checkbox-cell:before {
//   content: '.';
//   display: 'inline-block';
//   vertical-align: 'middle';
//   height: '100%';
//   width: '0px';
//   visibility: 'hidden';
// }

.file-icon-img {
  vertical-align: 'middle';
  max-height: 16px;
  max-width: 16px;
}

.controlWrapper {
  display: 'flex';
  flex-wrap: 'wrap';
}

.exampleToggle {
  display: 'inline-block';
  margin-bottom: 10px;
  margin-right: 30px;
}

.selection-details {
  margin-bottom: 20px;
}

.job-header .job-header-cells {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.job-header-cells > div {
  flex: 1 1 15%;
}

.job-header-cells h5 {
  font-weight: bold;
}

.job-header-cells .job-header-info {
  flex: 1 0 45%;
}
.job-header-cells .job-header-status {
  flex: 1 1 15%;
  min-width: 100px;
}

.job-detail-panel .ms-CommandBar {
  border: 1px solid #ccc;
  padding: 0;
}

.job-detail-panel {
  min-height: 200px;
  color: #000;
}

.job-detail-panel > div {
  flex: 1 0 100%;
  flex-direction: row;
  display: none;
}

.attachments,
.tasks {
  flex-direction: column !important;
}

.job-detail-panel > div.attachments {
  padding: 0;
}

.job-detail-panel > div.active {
  display: flex;
}

.job-detail-panel .attachment-item .ms-DocumentCard {
  max-width: 100% !important;
}

.job-detail-data {
  flex: 1 1 100%;
}

.job-detail-data .ms-DetailsList-headerWrapper {
  display: none;
}

.job-detail-content {
  display: flex;
  flex: 1 1 100%;
}

.job-detail-main .ms-CommandBar-primaryCommand {
  border-bottom: 1px solid #ccc;
}

.job-detail-main {
  flex: 1 1 100%;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 0;
}

.job-detail-comments {
  flex: 1 0 30%;
  margin: 0 0 0 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 0;
}

.job-detail-comments h5 {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin: 0;
}

.job-detail-comments-list {
  padding: 10px;
}

.job-detail-container .ms-CommandBar {
  padding: 0px;
}

.ms-CommandBarItem-link.active {
  border-bottom: 2px solid #0078d4;
}

.job-paginator {
  display: flex;
  flex: 1 1 70%;
  margin: 10px auto 20px;
  justify-content: center;
}

.job-paginator > .pagination {
  margin: 0 !important;
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 0 5px;
}

.job-list-filter-container {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f4f4f4;
}

.job-list-filter-keyword {
}

.job-list-filter-input {
  flex: 1 1 auto;
}

.job-list-filter-command-bar {
  flex: 0 1 30%;
}

.job-list-filter-menu .ms-CommandBar {
  padding: 0 5px;
  border-radius: 5px;
}

/* Filter List Command Bar Divider */
.job-list-filter .ms-OverflowSet-item:nth-child(2) {
  max-width: 30px;
  padding: 0;
  margin: 0;
}

.job-list-filter .ms-OverflowSet-item:nth-child(2):hover,
.job-list-filter .ms-OverflowSet-item:nth-child(2):hover * {
  background-color: #f4f4f4;
}
/* /Divider */

.panel-list-row {
  margin: 2px 0;
}
.panel-list-key {
  flex: 0 0 35%;
  font-weight: bold;
  padding-right: 5px;
}
.panel-list-value {
  flex: 1 0 auto;
  padding: 0 5px;
}
